{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    {% if title %}
        <title>{{ title }} </title>
    {% else %}
        <title> Admin </title>
    {% endif %}
    <!-- ===== Bootstrap CSS ===== -->
    <link href="{% static 'bootstrap2/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- ===== Plugin CSS ===== -->
    <link href="{% static 'plugins2/components/dropify/dist/css/dropify.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins2/components/Magnific-Popup-master/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'plugins2/components/morrisjs/morris.css' %}" rel="stylesheet"> 
    <link href="{% static 'plugins2/components/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins2/components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">
    <!-- ===== Animation CSS ===== -->
    <link href="{% static 'css2/animate.css' %}" rel="stylesheet">
    <!-- ===== Custom CSS ===== -->
    <link href="{% static 'plugins2/components/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css2/style.css' %}" rel="stylesheet">
    <!-- ===== Color CSS ===== -->
    <link href="{% static 'css2/colors/default.css' %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="mini-sidebar">
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- ===== Top-Navigation ===== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0 shadow">
            <div class="navbar-header">
                <a class="navbar-toggle font-20 hidden-sm hidden-md hidden-lg " href="javascript:void(0)"
                    data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="top-left-part">
                    <a class="logo" href="home.html">
                        <b>
                            <span class="customer-logo">
                                <img src="{% static 'plugins2/images/airtel-logo.png' %}" alt="homepage" class="dark-logo" />
                            </span>
                        </b>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li>
                        <a href="javascript:void(0)" class="sidebartoggler font-20 waves-effect waves-light"><i
                                class="icon-arrow-left-circle"></i></a>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle waves-effect waves-light font-20" data-toggle="dropdown"
                            href="javascript:void(0);">
                            <i class="icon-bell"></i>
                            <span class="badge badge-xs badge-danger">6</span>
                        </a>
                        <ul class="dropdown-menu mailbox animated bounceInDown">
                            <li>
                                <div class="drop-title">You have 4 new messages</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a href="javascript:void(0);">
                                        <div class="user-img">
                                            <img src="{% static 'plugins2/images/users/pic2.jpg' %}" alt="user" class="img-circle">
                                            <span class="profile-status online pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:30 AM</span>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0);">
                                        <div class="user-img">
                                            <img src="../plugins/images/users/2.jpg" alt="user" class="img-circle">
                                            <span class="profile-status busy pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Sonu Nigam</h5>
                                            <span class="mail-desc">I've sung a song! See you at</span>
                                            <span class="time">9:10 AM</span>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0);">
                                        <div class="user-img">
                                            <img src="../plugins/images/users/3.jpg" alt="user" class="img-circle"><span
                                                class="profile-status away pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Arijit Sinh</h5>
                                            <span class="mail-desc">I am a singer!</span>
                                            <span class="time">9:08 AM</span>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0);">
                                        <div class="user-img">
                                            <img src="../plugins/images/users/4.jpg" alt="user" class="img-circle">
                                            <span class="profile-status offline pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:02 AM</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="text-center" href="javascript:void(0);">
                                    <strong>See all notifications</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="right-side-toggle">
                        <a class="right-side-toggler waves-effect waves-light b-r-0 font-20" href="javascript:void(0);">
                            <i class="icon-settings"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- ===== Top-Navigation-End ===== -->
        {% if messages %}
        <div class="container">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</p><br/>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% block content %}


         {% endblock content %}
        <!-- ===== Left-Sidebar ===== -->
        <aside class="sidebar" role="navigation">
            <div class="scroll-sidebar">
                <div class="user-profile">
                    <div class="dropdown user-pro-body">
                        <p class="profile-text m-t-15 font-16"><a href="javascript:void(0);"><span class="font-50"><i class="icon-people fa-fw font-50 width-auto"></i></span>  Hi {{user.username}} </a></p>
                    </div>
                </div>
                <nav class="sidebar-nav">
                    <ul id="side-menu">
                        {% with url_name=request.resolver_match.url_name %}
                        <li>
                            <a class="{% if url_name == 'dashboard' %} waves-effect active {% endif %} " href="{% url 'dashboard' %}" aria-expanded="false"><i
                                    class="icon-screen-desktop fa-fw"></i> <span class="hide-menu"> Dashboard
                                </span></a>
                        </li>
                        <li>
                            <a class= "{% if url_name == 'new_campaign' %} waves-effect active {% endif %} " href="{% url 'new_campaign' %}" aria-expanded="false"><i
                                    class="icon-paper-plane fa-fw"></i> <span class="hide-menu"> New Campaign </span></a>
                        </li>
                        <li>
                            <a class="{% if url_name == 'campaign_list' %} waves-effect active {% endif %}" href="{% url 'campaign_list' %}" aria-expanded="false"><i class="icon-note fa-fw"></i> <span class="hide-menu"> Manage </span></a>
                        </li>
                        <li>
                            <a class="{% if url_name == '' %} waves-effect active {% endif %} " href="javascript:void(0);" aria-expanded="false"><i class="icon-grid fa-fw"></i> <span class="hide-menu"> Directory </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li class=""> <a class="sub-hover" href="javascript:void(0);">Directories</a> </li>
                                <li class=""> <a class="sub-hover" href="javascript:void(0);">New Directory</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a class="{% if url_name == '' %} waves-effect active {% endif %} " href="javascript:void(0);" aria-expanded="false"><i class="icon-wallet fa-fw"></i> <span class="hide-menu"> Tracking</span></a>
                        </li>
                        <li>
                            <a class="{% if url_name == 'contactus' %} waves-effect active {% endif %}" href="{% url 'contactus' %}" aria-expanded="false"><i class="icon-bubbles fa-fw"></i> <span class="hide-menu"> Support</span></a>
                        </li>
                        {% endwith %}
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- ===== Left-Sidebar-End ===== -->

        <!-- ===== Right-Sidebar ===== -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title shadow"> Service Panel <span><i
                                    class="icon-close right-side-toggler"></i></span> </div>
                        <div class="r-panel-body">
                            <ul class="animated flipInY">
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-cog"></i> Account Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ===== Right-Sidebar-End ===== -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer t-a-c"> © 2020 NOVA 360
            </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- ==============================
        Required JS Files
    =============================== -->
    <!-- ===== jQuery ===== -->
    <script src="{% static 'plugins2/components/jquery/dist/jquery.min.js' %}"></script>
    <!-- ===== Bootstrap JavaScript ===== -->
    <script src="{% static 'bootstrap2/dist/js/bootstrap.min.js' %}"></script>
    <!-- ===== Slimscroll JavaScript ===== -->
    <script src="{% static 'js2/jquery.slimscroll.js' %}"></script>
    <!-- ===== Wave Effects JavaScript ===== -->
    <script src="{% static 'js2/waves.js' %}"></script>
    <!-- ===== Menu Plugin JavaScript ===== -->
    <script src="{% static 'js2/sidebarmenu.js' %}"></script>
    <!-- ===== Custom JavaScript ===== -->
    <script src="{% static 'js2/custom.js' %}"></script>
    <!-- ===== Plugin JS ===== -->
    <script src="{% static 'plugins2/components/raphael/raphael-min.js' %}"></script>
    <!--<script src="{% static 'plugins2/components/morrisjs/morris.js' %}"></script> -->
    <!-- <script src="{% static 'plugins2/components/chartist-js/dist/chartist.min.js' %}"></script> -->
    <!-- <script src="{% static 'plugins2/components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script> -->
    <script src="{% static 'plugins2/components/Magnific-Popup-master/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'plugins2/components/Magnific-Popup-master/dist/jquery.magnific-popup-init.js' %}"></script>
    <script src="{% static 'plugins2/components/styleswitcher/jQuery.style.switcher.js' %}"></script>
    
    <script src="{% static 'plugins2/custom-select/custom-select.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins2/bootstrap-select/bootstrap-select.min.js' %}" type="text/javascript"></script>
    <!-- jQuery file upload -->
    <script src="{% static 'plugins2/components/dropify/dist/js/dropify.min.js' %}"></script>
    <script>
        $(document).ready(function(){
        {% block jquery %}

        {% endblock %}
        });
    </script>

    <!-- <script src="{% static 'js2/db4.js' %}"></script> -->

    <!-- ===== Style Switcher JS ===== -->
    <script src="{% static 'plugins2/components/styleswitcher/jQuery.style.switcher.js' %}"></script>


</body>

</html>