{% extends 'base.html' %}
{% load static %}

 <title>{{ title }}</title>

{% block content %}
        <!-- Page Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- .row -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <div class="col-lg-10 col-md-12 col-sm-8 col-xs-12 mail_listing mlr-auto float-none">
                                <div class="row">
                                    <div class="mb30">
                                        <h3 class="box-title m-b-10">Text Form</h3>
                                        <hr class="bc-red" />
                                    </div>
                                </div>
                                <form class="form-horizontal" action="#" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label class="control-label mb-5">Phone Number <i class=" icon-phone red"></i></label>
                                                    <div class="">
                                                        <input required name="phonenumber" type="text" class="form-control" placeholder=" 2348..... ">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="colorSelect">Choose A Directory </label>
                                                    <select class="selectpicker" data-style="form-control" name="auid">
                                                        {% for object in csv %}
                                                        <option value="{{ object.auid }}">{{ object.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8 ">
                                                <div class="form-group">
                                                    <label class="control-label mb-5">Text Message <i class=" icon-pencil red"></i>(<span class="char-count"> 170</span> characters left)</label>
                                                    <textarea required name="sms" class="form-control char-textarea" data-length=170 style="resize: none;" rows="3">{{details.short_link}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
<!--                                        <label for="input-file-max-fs"> Max File Size 5mb </label>-->
                                    <div class="form-actions m-t-40">
                                        <button type="submit" class="btn btn-red"> Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0"> Text Form </h3>
                    <br/>
<!--                            <p class="text-muted m-b-30 font-13"> All bootstrap element classies </p>-->
                   
                    <div class="white-box">
                        <li>
                            <span class="meta-name"><h4 class="box-title">Share:</h4></span>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri }}" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/home?status=Checkout%20This%20Lovely%20Dress%20from%20...{{request.build_absolute_uri }}" target="_blank">
                                <i class="m-2 fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="white-box">
                                <h3 class="box-title">Share on social media</h3>
                                <div class="skin skin-minimal">
                                    <div class="share">
                                        <a href="https://www.facebook.com/sharer.php?u=http://www.example.com" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="https://twitter.com/intent/tweet?url=http://www.example.com" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="https://plus.google.com/share?url=http://www.example.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        <!-- <a href="mailto:?subject=HII&amp;body=HELLO" target="_blank"><i class="fa fa-envelope-o"></i></a>
                                        <a href="whatsapp://send?text=HII"><i class="fa fa-whatsapp"></i></a> -->
                                    </div>
                                    {% with base_url="http://example.com" %}

                                        <a href="https://twitter.com/share?text={{ details.short_link}} &url={{ base_url|urlencode }}{{ request.get_full_path|urlencode}} " target="_blank" rel="static/hbb/{{details.image_path}}">Share on Twitter</a>
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Choose campaign platform(s)</h3>
                            <div class="skin skin-minimal">
                                <form class="form-horizontal form-material" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Social media</label>
                                        <div class="input-group">
                                            <ul class="icheck-list">
                                                <li class="blue">
                                                    <input type="checkbox" class="check" id="minimal-checkbox-1">
                                                    <label for="minimal-checkbox-1">Twitter</label>
                                                </li>
                                                <li class="">
                                                    <input type="checkbox" class="check" id="minimal-checkbox-2" checked>
                                                    <label for="minimal-checkbox-2">Facebook</label>
                                                </li>
                                                <li class="">
                                                    <input type="checkbox" class="check" id="minimal-checkbox-3">
                                                    <label for="minimal-checkbox-3">Instagram</label>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
</div>
{% endblock content %}
